.no-gutter>[class^="col-"]{
  padding-left: 0;
  padding-right: 0;
}

.custom-header-btn {
  height: 5em;
  border-radius:0 0 0 0;
  border-radius: 0;
}

.btn.sharp {
  border-radius:0;
}

.fa.fa-search{
  padding-top: 0.1em;
}
.fa.fa-heart{
  padding-top: 0.1em;
}

#search {
  padding-top: 8em;
}
