.no-gutter>[class^="col-"]{
  padding-left: 0;
  padding-right: 0;
}

.custom-header-btn {
  height: 4em;
  border-radius:0 0 0 0;
  border-radius: 0;
}

.btn.sharp {
  border-radius:0;
}

#search {
  padding-top: 6em;
  margin-bottom: 6em;
}

#collection{
  padding-top: 6em;
  margin-bottom: 5em;
}

#card {
  padding-top: 0.5em;
  padding-bottom: 1em;
}
